@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body{
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.background{
    background-image: url('/image/homepage.jpg');
    opacity: 0.9;
    height: 720px;
    background-position: center;
}

.logo{
    
    display: flex;
    justify-content: space-between;
    }
.logo1{
    width: 70%;
    margin: auto;
}
.src{
    height: 38px;
    margin: 13px;
    
}

.navlist{
    display: flex;

}


.list{
    list-style: none;
    display: flex;
    color: #f5f5f5;
    font-size: 21px;
    gap: 44px;
}
.reservation-button{
    margin: 14px 25px 14px 25px;
    padding: 10px 22px 10px 22px;
    font-weight: 600;
    font-size: 15px;
    background-color: black;
    color: white;
    border: 1px solid;
    font-size: 13px;
}

.reservation-button:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 4px
}

.para{
    margin-top: 150px;
}

.p1{
    color: white;
    text-align: center;
}

.p2{
    color: #ffffff;
    font-size: 73px;
    text-align: center;
    margin-top: 50px !important;
    font-weight: 500;
    width: 65%;
    margin: auto;
}

.p3{
    text-align: center;
    color: white;*{
    margin: 0;
    padding: 0;
}
    font-size: 18px;
    margin-top: 20px;
}

.divider{
    position: relative;
    left: 50%;
}

.line{
    border-left: 1px solid white;
    display: block;
    height: 80px;
    margin-top: 80px;
}

.mouse{
    fill: #ffffff;
    position: relative;
    left: 45%;
    color: #ffffff;
    font-size: 15px;
    margin-top: 5px;
    display: flex;
}
.scroll{
    font-size: 12px;
    margin-left: 8px;
    margin-top: 17px;
}

.row{
    width: 70%;
    margin: auto;
    display: flex;
    margin-top: 70px;
}

.heading{
    font-size: 59px;
    font-weight: 600;
    margin-top: 0px;
}

.text{
    text-align: left;
    font-size: 18px;
    margin-right: 218px;
    color: grey;
}

.good-vibe{
    margin-top: 22px;
}

.small-text{
    color: grey;
    font-size: 18px;
}
.cup{
    margin-top: 60px;
    margin-bottom: -100px;
}
.cozytext{
    font-size: 18px;
    color: grey;
}

.relax{
    margin-top: 55px;3em
}
.relax-atmosphere{
    color: grey;
}

.content{
    margin: auto;
    width: 70%;
    padding-top: 150px;
    
}

.our-menu{
    text-align: center;
    font-size: 17px;
}

.row1{
    display: flex;
    text-align: center;
    align-items: center;
    /* margin-top: -60px; */
}
.col1, .col2, .col3 {
    width: 33%;
}

.Eat{
    text-align: center;
    font-size: 48px;
}

.col1 hr{
    border: 1px solid white;
}

.row2{

    text-align: center;
    font-size: 16px;
    margin-top: -20px;
}

.row3{
    display: flex;
    justify-content: space-between;
    
}

.column31, .column32{
    width: 45%;
    /* justify-content: space-between; */
}

.customize {
    color: gray;
}


.r{
    border-bottom: 1px dashed white;
}

.row4{
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 100px;
}

.colu1, .colu2, .colu3 {
    width: 33%;
    margin-bottom: 80px;
}

.view-button{
    font-size: 15px;
    margin: 0px;
    padding: 11px;
    background-color: black;
    color: white;
    font-weight: 800;
    border: 2px solid white;
}

.view-button:hover{
    color: black;
    background-color: white;
    cursor: pointer;
    transition: 0.8s;
}

.signature{
    background-image: url(/image/signeture-bg.jpg);
    background-position: bottom;
}

.main-content-signature{
    width: 70%;
    margin: auto;
    color: white;
}

.main-content-signature > h5{
    margin: 0;
    padding-top: 50px;
}
.main{
    background-color: black;
    color: white;
}

.signature-menu{
    font-size: 48px;
    margin-top: 30px;
}

.signature-text{
    padding-bottom: 50px;
}

.images{
    margin: auto;
    width: 90%;
}
.image1{
    width: 30%;
}

.image-row1{
    display: flex;
    flex-wrap: wrap;
    gap: 71px;
    margin-top: 40px;
}

.img{
    width: 510px;
}

.next-page{
    margin: auto;
    width: 70%;
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
    padding: 104px 0;
    
}
.next-page-col1, .next-page-col2{
    width: 45%;
}

.page-heading{
    font-size: 46px;
    font-weight: 800;
}

.pic-text{
    color: grey;
    font-size: 16px;
    margin-top: 2em;
}

.next-page-img1{
    width: 100%;
    margin-top: 40px;
}

.next-page-img2{
    width: 70%;
}

.next-page-img3{
    width: 95%;
    margin-top: 5em;
}

.testimonial-page{
    background-image: url('/image/testimonail-section-bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.89;
    height: 650px;
}
.t-text{
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    padding-top: 75px;
}
.t2-text{
    color: white;
    font-size: 48px;
    text-align: center;
    padding-top: 30px;
}
.testimonial-row{
    margin: auto;
    width: 70%;
    justify-content: space-between;
    display: flex;
}
.testimonial-col{
    width: 30%;
    color: white;
    
}

.avtar-img{
    width: 30%;
    margin: auto;
}

.review-card{
    text-align: center;
    font-size: 16px;
    
}

.review-name{
    text-align: center;
    font-size: 14px;
    
}
.card{
    background-color: black;
    border-radius: 12px;
    padding: 4em;
    

}

.avtar{
    border: 4px solid yellow;
    border-radius: 46px;
    position: relative;
    top: 40px;
}
.reservation-menu{
    /* width: 70%; */
    /* margin: auto; */
    padding: 170px 0;

}

.reservation-word{
    font-size: 48px;
    text-align: center;
}
.reservation-text{
    text-align: center;
    color: gray;
}
.book-table-button{
    /* align-items: center; */
    text-align: center;
}

.book-a-table{
    border: 2px solid black;
    padding: 15px 18px 15px 18px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
}
.book-a-table:hover{
    color: white;
    background-color: black;
    cursor: pointer;
    
}
.telephone-reservation{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.number{
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}
.cake-image{
    float: right;
    position: relative;
    bottom: 90px;
}

.footer{
    /* margin: auto; */
    /* width: 70%; */
    background-color: black;
    color: white;
    padding: 150px 0;
}
.footer-row-wrapper{
    margin: 0 auto;
    width: 70%;
    justify-content: space-between;
}


.footer-row{

    display: flex;
    /* justify-content: space-between; */
}

.footer-col1, .footer-col2, .footer-col3, .footer-col4{
    width: 25%;
}

.nyus-logo{
    width: 40%;
}

























