@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Raleway:wght@600&display=swap");
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.website {
  overflow: hidden;
}
.background {
  background-image: url("/image/homepage.jpg");
  height: 100vh;
  /* width: 100vw; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  display: flex;
  justify-content: space-between;
}
.logo1 {
  width: 70%;
  margin: auto;
}

.src {
  height: 38px;
  margin: 13px;
}

.navlist {
  display: flex;
}

.list {
  list-style: none;
  display: flex;
  color: #f5f5f5;
  font-size: 21px;
  gap: 44px;
}
.list:hover {
  .mouse {
    fill: #ffffff;
    position: relative;
    left: 41%;
    color: #ffffff;
    font-size: 14px;
    margin-top: 5px;
    display: flex;
    height: 21px;
  }
  cursor: pointer;
}
.reservation-button {
  margin: 14px 25px 14px 25px;
  padding: 10px 22px 10px 22px;
  font-weight: 600;
  font-size: 15px;
  background-color: black;
  color: white;
  border: 1px solid;
  font-size: 13px;
}

.reservation-button:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 4px;
}

.para {
  margin-top: 150px;
}

.p1 {
  color: white;
  text-align: center;
}

.p2 {
  color: #ffffff;
  font-size: 4.5rem;
  text-align: center;
  margin-top: 50px !important;
  font-weight: 800;
  width: 71%;
  margin: auto;
  font-family: "Raleway", sans-serif;
}

.p3 {
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 18px;
  margin-top: 20px;
}

.divider {
  position: relative;
  left: 50%;
}

.line {
  border-left: 1px solid white;
  display: block;
  height: 80px;
  margin-top: 80px;
  position: relative;
  left: 50%;
}

.mouse {
  fill: #ffffff;
  position: relative;
  left: 45%;
  color: #ffffff;
  font-size: 15px;
  margin-top: 5px;
  display: flex;
  height: 23px;
}
/* .scroll{
    font-size: 12px;
    margin-left: 8px;
    margin-top: 17px;
} */

.row {
  width: 70%;
  margin: auto;
  display: flex;
  margin-top: 70px;
}

.heading {
  font-size: 59px;
  font-weight: 600;
  margin-top: 0px;
}

.text {
  text-align: left;
  font-size: 18px;
  margin-right: 218px;
  color: grey;
}

.good-vibe {
  margin-top: 22px;
}

.small-text {
  color: grey;
  font-size: 18px;
}
.cup {
  margin-top: 60px;
  margin-bottom: -100px;
}
.cozytext {
  font-size: 18px;
  color: grey;
}

.relax {
  margin-top: 55px;
}
.relax-atmosphere {
  color: grey;
}

.content {
  margin: auto;
  width: 70%;
  padding-top: 150px;
}

.our-menu {
  text-align: center;
  font-size: 17px;
  margin: 0px;
}

.row1 {
  display: flex;
  text-align: center;
  align-items: center;
  /* margin-top: -60px; */
}
.col1,
.col2,
.col3 {
  width: 33%;
}

.eat {
  text-align: center;
  font-size: 48px;
}

.col1 hr {
  border: 1px solid white;
}

.row2 {
  text-align: center;
  font-size: 16px;
  margin-top: -20px;
}

.row3 {
  display: flex;
  justify-content: space-between;
}

.column31,
.column32 {
  width: 45%;
  /* justify-content: space-between; */
}

.customize {
  color: gray;
}

.r {
  border-bottom: 1px dashed white;
}

.row4 {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 100px;
}

.colu1,
.colu2,
.colu3 {
  width: 33%;
  margin-bottom: 80px;
}

.view-button {
  font-size: 15px;
  margin: 0px;
  padding: 11px;
  background-color: black;
  color: white;
  font-weight: 800;
  border: 2px solid white;
}

.view-button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
  transition: 0.8s;
}

.signature {
  background-image: url(/image/signeture-bg.jpg);
  background-position: bottom;
}

.main-content-signature {
  width: 70%;
  margin: auto;
  color: white;
}

.main-content-signature > h5 {
  margin: 0;
  padding-top: 50px;
}
.main {
  background-color: black;
  color: white;
}

.signature-menu {
  font-size: 48px;
  margin-top: 30px;
}

.signature-text {
  padding-bottom: 50px;
}

.images {
  margin: auto;
  width: 90%;
  padding-top: 100px;
}
.image1 {
  width: 30%;
}

.image-row1 {
  display: flex;
  flex-wrap: wrap;
  gap: 71px;
  margin-top: 40px;
}

.img {
  width: 100%;
}

.next-page {
  margin: auto;
  width: 70%;
  display: flex;
  padding-top: 100px;
  justify-content: space-between;
  padding: 135px 0;
}
.next-page-col1,
.next-page-col2 {
  width: 45%;
}

.page-heading {
  font-size: 46px;
  font-weight: 800;
}

.pic-text {
  color: grey;
  font-size: 16px;
  margin-top: 2em;
}

.next-page-img1 {
  width: 100%;
  margin-top: 40px;
}

.next-page-img2 {
  width: 70%;
  margin-top: 50px;
}

.next-page-img3 {
  width: 95%;
  margin-top: 5em;
}

.testimonial-page {
  background-image: url("/image/testimonail-section-bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.89;
  height: 650px;
}
.t-text {
  color: white;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  padding-top: 75px;
}
.t2-text {
  color: white;
  font-size: 48px;
  text-align: center;
  padding-top: 30px;
}
.testimonial-row {
  margin: auto;
  width: 70%;
  justify-content: space-between;
  display: flex;
}
.testimonial-col {
  width: 30%;
  color: white;
}

.avtar-img {
  width: 30%;
  margin: auto;
}

.review-card {
  text-align: center;
  font-size: 16px;
}

.review-name {
  text-align: center;
  font-size: 14px;
}
.card {
  background-color: black;
  border-radius: 12px;
  padding: 4em;
}

.avtar {
  border: 4px solid yellow;
  border-radius: 46px;
  position: relative;
  top: 40px;
}
.reservation-menu {
  /* width: 70%; */
  /* margin: auto; */
  padding: 170px 0;
}

.reservation-word {
  font-size: 48px;
  text-align: center;
}
.reservation-text {
  text-align: center;
  color: gray;
}
.book-table-button {
  /* align-items: center; */
  text-align: center;
}

.book-a-table {
  border: 2px solid black;
  padding: 15px 18px 15px 18px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 15px;
}
.book-a-table:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}
.telephone-reservation {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.number {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
}
.cake-image {
  float: right;
  position: relative;
  bottom: 90px;
}

.footer {
  /* margin: auto; */
  /* width: 70%; */
  background-color: black;
  color: white;
  padding: 50px 0;
}
.footer-row-wrapper {
  margin: 0 auto;
  width: 70%;
  justify-content: space-between;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.footer-col1,
.footer-col2,
.footer-col3,
.footer-col4 {
  width: 20%;
}

.nyus-logo {
  width: 40%;
}

.nyus-text {
  font-size: 14px;
}
.facebook-logo {
  height: 35px;
  padding-right: 10px;
}

.facebook-logo:hover {
  /* color: yellow; */
  cursor: pointer;
  /* background-color: yellow; */
}

.twitter-logo {
  height: 32px;
  padding-right: 10px;
}
.twitter-logo:hover {
  /* color: yellow; */
  cursor: pointer;
  fill: yellow;
  /* background-color: yellow; */
}

.youtube-logo {
  height: 35px;
  padding-right: 10px;
}
.youtube-logo:hover {
  /* color: yellow; */
  cursor: pointer;
  /* background-color: yellow; */
}
.instagram-logo {
  height: 30px;
  padding-right: 10px;
}
.instagram-logo:hover {
  /* color: yellow; */
  cursor: pointer;
  /* background-color: yellow; */
}
.yelp-logo {
  height: 30px;
}
.yelp-logo:hover {
  /* color: yellow; */
  cursor: pointer;
  /* background-color: yellow; */
}

.location {
  font-size: 24px;
  margin: 0;
}

.location-text {
  font-size: 14px;
}
.direction {
  display: flex;
  /* color: yellow; */
  cursor: pointer;
  /* background-color: yellow; */
}
.get-direction {
  color: white;
}
.get-direction:hover {
  color: yellow;
  cursor: pointer;
}

.location-logo {
  height: 28px;
  padding-right: 8px;
  padding-top: 12px;
}
/* .location-logo:hover{
    color: yellow;
    cursor: pointer;
    /* background-color: yellow; */

.quick-link {
  font-size: 24px;
  margin: 0;
}

.timing {
  font-size: 24px;
  margin: 0;
}

.quick-link-list {
  list-style: none;
  padding: 0;
}
.list-items {
  width: fit-content;
}
.list-items:hover {
  color: yellow;
  cursor: pointer;
}

.clock1 {
  height: 30px;
  padding-top: 12px;
}
.clock1:hover {
  /* fill: yellow;
    color: yellow; */
  cursor: pointer;
}
.time {
  padding-left: 50px;
  margin-top: -40px;
  font-size: 14px;
}

.footer-content {
  margin: auto;
  width: 70%;
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}
.contact-info {
  display: flex;
}
@media (max-width: 1200px) {
  .logo1 {
    width: 98%;
    margin: auto;
  }
  .list {
    font-size: 18px;
  }
  .para {
    margin-top: 120px;
  }
  .p1 {
    font-size: 15px;
  }
  .p2 {
    font-size: 65px;
    margin-top: 60px !important;
  }
  .p3 {
    font-size: 15px;
    margin-top: 50px;
  }
  .background {
    background-image: url("/image/homepage.jpg");
    height: 100%;
    /* width: 100vw; */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img {
    width: 100%;
  }
  .line {
    margin-top: 120px;
  }
  .row {
    width: 95%;
    margin: auto;
    display: flex;
    margin-top: 50px;
  }
  .heading {
    font-size: 45px;
    font-weight: 700;
    margin-top: 0px;
  }
  .images {
    margin: auto;
    width: 95%;
    padding-top: 25px;
  }
  .image1 {
    width: 48%;
  }
  .image-row1 {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 40px;
  }
  .eat {
    text-align: center;
    font-size: 40px;
  }
  .row2 {
    text-align: center;
    font-size: 12px;
  }
  .next-page {
    width: 98%;
    /* padding-top: 20px; */
    padding: 50px 0;
  }
  .page-heading {
    font-size: 40px;
  }
  .pic-text {
    font-size: 14px;
  }
  .review-card {
    font-size: 14px;
  }
  .next-page-img2 {
    width: 85%;
  }
  .nyus-logo {
    width: 60%;
  }

  .nyus-text {
    font-size: 12px;
  }
  .location {
    font-size: 20px;
  }
  .location-text {
    font-size: 12px;
  }
  .quick-link {
    font-size: 20px;
    margin: 0;
  }
  .timing {
    font-size: 19px;
    margin: 0;
  }
  .quick-link-list {
    font-size: 14px;
  }
  .footer-row-wrapper {
    margin: 0 auto;
    width: 95%;
    justify-content: space-between;
  }
  .footer-col1,
  .footer-col2,
  .footer-col3,
  .footer-col4 {
    width: 20%;
  }
  .time {
    font-size: 11px;
  }
  .facebook-logo {
    height: 23px;
    /* padding-right: 10px; */
  }
  .twitter-logo {
    height: 23px;
    /* padding-right: 10px; */
  }
  .youtube-logo {
    height: 23px;
    /* padding-right: 10px; */
  }
  .instagram-logo {
    height: 23px;
    /* padding-right: 10px; */
  }
  .yelp-logo {
    height: 23px;
  }
  .location-logo {
    height: 21px;
    padding-right: 5px;
    padding-top: 16px;
  }
  .testimonial-row {
    margin: auto;
    width: 98%;
    justify-content: space-between;
    display: flex;
  }
  .content {
    margin: auto;
    width: 95%;
    padding-top: 150px;
  }
  .main-content-signature {
    width: 95%;
    margin: auto;
    color: white;
  }
  .get-direction {
    color: white;
    font-size: 15px;
  }
  .get-direction:hover {
    color: yellow;
    cursor: pointer;
  }
  .footer-content {
    margin: auto;
    width: 95%;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .p2 {
    font-size: 42px;
    margin-top: 33px !important;
  }
  .p3 {
    font-size: 12px;
    margin-top: 40px;
  }
  logo1 {
    width: 100%;
    margin: auto;
  }
  .mouse {
    fill: #ffffff;
    position: relative;
    left: 41%;
    color: #ffffff;
    font-size: 14px;
    margin-top: 5px;
    display: flex;
    height: 21px;
  }
  .heading {
    font-size: 30px;
    font-weight: 700;
    margin-top: 0px;
  }
  .text {
    text-align: left;
    font-size: 12px;
    margin-right: 130px;
    color: grey;
  }
  .column1 {
    width: 50%;
  }
  .column2 {
    width: 50%;
  }
  .good-vibe {
    width: 85%;
  }
  .head2 {
    font-size: 20px;
  }
  .small-text {
    color: grey;
    font-size: 12px;
  }
  .head3 {
    font-size: 20px;
  }
  .cozytext {
    font-size: 12px;
    color: grey;
  }
  .head4 {
    font-size: 20px;
  }
  .relax-atmosphere {
    color: grey;
    font-size: 12px;
  }
  .cozy-place {
    width: 100%;
  }
  .relax {
    margin-top: 20px;
    width: 100%;
  }
  .cup {
    margin-bottom: -200px;
    height: 32%;
  }
  .content {
    margin: auto;
    width: 85%;
    padding-top: 60px;
  }
  .our-menu {
    text-align: center;
    font-size: 15px;
    margin: 0px;
  }
  .eat {
    text-align: center;
    font-size: 28px;
  }
  .Custom {
    font-size: 13px;
  }
  .customize {
    color: gray;
    font-size: 13px;
  }
  .custom-text {
    font-size: 12px;
    text-align: center;
  }
  .main-content-signature {
    width: 90%;
    margin: auto;
    color: white;
  }
  .card {
    background-color: black;
    border-radius: 10px;
    padding: 2.5em;
  }
  .cake-image {
    float: right;
    position: relative;
    bottom: 90px;
    /* height: 20%; */
    height: 250px;
  }
  .footer {
    /* margin: auto; */
    /* width: 70%; */
    background-color: black;
    color: white;
    padding: 50px 0;
    margin-top: -120px;
  }
  .page-heading {
    font-size: 36px;
    /* font-family: 'Raleway'; */
    font-family: "Raleway", sans-serif;
  }
  .t2-text {
    color: white;
    font-size: 48px;
    text-align: center;
    padding-top: 0px;
  }
  .testimonial-col {
    width: 98%;
    color: white;
    margin-top: -50px;
  }
  .testimonial-row {
    margin: auto;
    width: 98%;
    /* justify-content: space-between; */
    /* display: flex; */
    display: block;
  }
  .avtar {
    border: 4px solid yellow;
    border-radius: 46px;
    position: relative;
    top: 60px;
    margin-left: 50px;
  }
  .review-card {
    font-size: 16px;
    margin-top: 35px;
  }
  .testimonial-page {
    background-image: url(/image/testimonail-section-bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* opacity: 0.89; */
    height: 1000px;
  }
  .review-name {
    text-align: center;
    font-size: 14px;
    margin-top: -30px;
  }
  .reservation-word {
    font-size: 32px;
    text-align: center;
    /* font-family: inherit; */
    font-family: "Raleway", sans-serif;
    font-weight: 700;
  }
  .reservation-text {
    text-align: center;
    color: gray;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
  }
  .telephone-reservation {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    font-family: "Raleway", sans-serif;
  }
  .footer-row {
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 100px; */
    flex-wrap: wrap;
  }
  .footer-col1,
  .footer-col2,
  .footer-col3,
  .footer-col4 {
    width: 45%;
  }
  .nyus-logo {
    width: 55%;
  }
  .nyus-text {
    font-size: 14px;
  }
  .location {
    font-size: 24px;
  }
  .location-text {
    font-size: 14px;
  }
  .quick-link {
    font-size: 24px;
    /* margin: 0px; */
    margin-top: 20px;
  }
  .timing {
    font-size: 24px;
    margin: 0;
    margin-top: 20px;
  }
  .list-items {
    width: fit-content;
    font-size: 15px;
  }
  .copy-right {
    font-size: 15px;
  }
}

@media (max-width: 470px) {
  .p1{
    font-family: 'Raleway',sans-serif;
    font-size: 15px;
  }
  .p2 {
    font-size: 25px;
    margin-top: 32px !important;
    font-family: 'Raleway',sans-serif;
    font-weight: 900;
}
.p3 {
  font-size: 14px;
  margin-top: 40px;
}
.row {
  width: 95%;
  margin: auto;
  /* display: flex; */
  margin-top: 50px;
  display: block;
}
.column1 {
  width: 100%;
}
.column2{
  width: 100%;
}

.heading {
  font-size: 24px;
  font-weight: 700;
}
.text {
  text-align: left;
  font-size: 14px;
  margin-right: 0px;
  color: grey;
}
.good-vibe {
  width: 100%;
}
.head2 {
  font-size: 15px;
}
.small-text {
  color: grey;
  font-size: 14px;
}
.cup{
  display: none;
}
.head3 {
  font-size: 15px;
}
.cozytext {
  font-size: 14px;
  color: grey;
}
.head4 {
  font-size: 15px;
}
.relax-atmosphere {
  color: grey;
  font-size: 14px;
}
.main {
  background-color: black;
  color: white;
  margin-top: 35px;
}
.our-menu {
  text-align: center;
  font-size: 11px;
  margin: 0px;
}
.eat {
  text-align: center;
  font-size: 24px;
}
.col1,
.col3{
  display: none;
}
.col2{
  width: 100%;
}
.custom-text {.main-content-signature {
  width: 95%;
  margin: auto;
  color: white;
}
  font-size: 14px;
  text-align: center;
}
.row3 {
  /* display: flex; */
  /* justify-content: space-between; */
  display: block;
  width: 98%;
  margin-top: 30px;
}
.column31, .column32 {
  width: 100%;
}
.colu1,
.colu3{
  display: none;
}
.colu2{
  width: 100%;
  margin-bottom: 50px;
    margin-top: -50px;
}
.signature-menu {
  font-size: 24px;
  margin-top: 20px;
}
.txt{
  font-size: 14px;
}
.image-row1 {
  /* display: flex; */
  /* flex-wrap: wrap; */
  gap: 25px;
  margin-top: 0px;
  /* width: 98%; */
  display: block;
}
.image1 {
  width: 95%;
  align-items: center;
  margin-top: 25px;
}
.main-content-signature {
  width: 95%;
  margin: auto;
  color: white;
}
.images {
  margin: auto;
  width: 100%;
  padding-top: 25px;
}
.next-page {
  margin: auto;
  width: 95%;
  /* display: flex; */
  /* justify-content: space-between; */
  padding: 0px  ;
  display: block;
}
.next-page-col1, .next-page-col2 {
  width: 100%;
}
.page-heading {
  font-size: 26px;
  /* font-family: 'Raleway'; */
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.pic-text {
  font-size: 14px;
  margin-top: 0em;
  color: gray;
}
.next-page-img1 {
  width: 100%;
  margin-top: 20px;
}
.next-page-img2 {
  width: 100%;
}
.next-page-img3 {
  width: 100%;
  margin-top: 2em;
}
.t-text {
  color: white;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  padding-top: 2em;
}
.t2-text {
  color: white;
  font-size: 25px;
  text-align: center;
  padding-top: 0px;
}
.testimonial-page {
  background-image: url(/image/testimonail-section-bg-1.jpg);
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-position: center center; */
  /* opacity: 0.89; */
  height: 1000px;
}
.avtar {
  border: 4px solid yellow;
  border-radius: 46px;
  position: relative;
  top: 60px;
  margin-left: 25px;
}
.review-name {
  text-align: center;
  font-size: 16px;
  margin-top: -45px;
}
.review-card {
  font-size: 16px;
  margin-top: 45px;
}
.reservation-word {
  font-size: 26px;
  text-align: center;
  /* font-family: inherit; */
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}
.book-a-table {
  border: 2px solid black;
  padding: 15px 18px 15px 18px;
  font-size: 10px;
  font-weight: 600;
  margin-top: 15px;
}
.telephone-reservation {
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.number {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}
.cake-image {
  float: right;
  position: relative;
  bottom: 45px;
  /* height: 20%; */
  height: 160px;
}
.footer-col1, .footer-col2, .footer-col3, .footer-col4 {
  width: 85%;
}
.nyus-logo {
  width: 45%;
}
.footer-row-wrapper {
  margin: 0 auto;
  width: 90%;
  /* justify-content: space-between; */
}
.location {
  font-size: 22px;
  margin-top: 20px;
}
.location-logo {
  height: 21px;
  padding-right: 5px;
  padding-top: 15px;
}
.quick-link {
  font-size: 22px;
  /* margin: 0px; */
  margin-top: 5px;
}
.list-items {
  width: fit-content;
  font-size: 14px;
}
.timing {
  font-size: 22px;
  margin: 0;
  margin-top: 10px;
}
.time {
  font-size: 13px;
}
.reservation-button {
  margin: 14px 25px 14px 25px;
  padding: 10px 22px 10px 22px;
  font-weight: 600;
  font-size: 15px;
  background-color: black;
  color: white;
  border: 1px solid;
  font-size: 10px;
}
.footer {
  /* margin: auto; */
  /* width: 70%; */
  background-color: black;
  color: white;
  padding: 40px 0;
  margin-top: -130px;
}
.copy-right {
  font-size: 10px;
}
.powered-by{
  font-size: 10px;
}

}
